body,html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

#user-info, #quiz, #result {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

#quiz, #result {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
}

.question {
    margin-bottom: 15px;
}

label {
    display: block;
}


.checklist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: aquamarine;
}
.checklist-column {
    flex: 1;
    min-width: 50px;
}
.checklist-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
